@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.has-error .form-control {
    border-color: #dc3545;
}

.has-success .form-control {
    border-color: #28a745;
}

.help-block {
    color: #dc3545;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    font-family: 'Dancing Script', cursive;
}

.bg-login {
    background-size: cover;
}

.overlay-gradient-bottom:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: false;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.65) 100%);
}